header img {
	margin-left: 15px;
	margin-top: 20px;
}

header {
		background-color: #57D2AC;
} 

nav {
	margin-top: 100px;
	margin-right: 80px;
	float: right;	
	font-family: verdana;
	font-size: 150%;
	word-spacing: 15px;
}

.container{
	text-align: center;
	display: flex;
	flex-flow: row wrap;
 	justify-content: center;
}

.prod{
	border: solid;
	border-radius: 10px ; 
	padding: 30px ;
	margin: 40px ;
}

.link:link,.link:visited {	text-decoration: none; color:black; }
.link:hover {text-decoration: none;color: white}
.link:active {text-decoration: none}

.prod:hover {text-decoration: none; border-color:#C0CBC3 ;}

.prod:hover h2 {font-size: 25px;}

body {
	font-family: verdana;
	background-color: white;
	margin: 0px; 
	}

footer {
		position:fixed;
		font-weight: bold;
 		background-color: #57D2AC;
 		bottom:0;
 		width:100%;
 		height:5%;
 		padding-top:50px;
 		text-align:center;
		} 
