header img {
	margin-left: 15px;
	margin-top: 20px;
}

header {
	background-color: #57D2AC;
	display: flex;
} 

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

nav{
	 padding-left: 74%; 
	 padding-top: 40px;
}

.box-all{
	display: flex;
	text-align: center;
}

.box-img {
	margin: 1% 1% 1% 1%;	 
}

.box-img img{
	width:40%;
	height:50%;
}

body {
	font-family: monospace;
	background-color: white;
	margin: 0px; 
	}


footer {
		position:absolute;
		font-weight: bold;
 		background-color: #57D2AC;
 		bottom:0;
 		width:100%;
 		height:10%;
 		padding-top:50px;
 		text-align:center;
		} 
